@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 280px;
    border: solid 1px black;
    border-radius: 1em;
    box-shadow: 5px 5px 5px;
    /* background-color: ; */
}

.display {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100px;
    width: 270px;
    border: solid 1px black;
    border-radius: 0.5em;
    margin-top: 20px;
    padding-right: 7px;
    /* background-color: ; */
    box-shadow: 5px 0px 5px;
}

.math {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.lowerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 250px;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn,
#clear,
#equals {
    height: 25px;
    width: 50px;
    border: none;
    /* background-color: ; */
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
}

.btn:hover,
#clear:hover,
#equals:hover {
    cursor: pointer;
    background-color: #00bbf9;
}
