@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body {
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001d3d;
}

h1 {
    color: goldenrod;
    text-shadow: 0 0 8px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 270px;
    border-radius: 1em;
    background-color: #001d3d;
    margin-top: 20px;
    gap: 20px;
}

.display {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100px;
    width: 300px;
    border-radius: 0.5em;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-right: 7px;
    background-color: #001d3d;
    box-shadow: 0 0 50px;
    color: goldenrod;
}

.math {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.lowerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 250px;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn,
#clear,
#equals,
#delete {
    height: 27px;
    width: 55px;
    border: none;
    background-color: #001d3d;
    border-radius: 10px;
    font-size: larger;
    color: white;
    transition: all 0.35s ease-in-out;
}

#clear,
#delete {
    width: 120px;
}

.btn:hover,
#clear:hover,
#equals:hover,
#delete:hover {
    cursor: pointer;
    background-color: #001d3d;
    color: goldenrod;
    box-shadow: 0 0 5px;
}
